
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="welcome-message">
    <p>Chào mừng bạn đến với trang quản trị!</p>
    <p>Hãy tận dụng các công cụ và tính năng của chúng tôi để quản lý và phát triển trang web một cách hiệu quả nhất.</p>
    <p>Nếu bạn cần hỗ trợ, vui lòng liên hệ với đội ngũ hỗ trợ kỹ thuật.</p>
</div>