
 @using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="~/ClientAssets/img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="@ViewBag.Description">
	<!-- Meta Keyword -->
	<meta name="keywords" content="@ViewBag.Keywords">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>@ViewBag.Title</title>
	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="~/ClientAssets/css/linearicons.css">
	<link rel="stylesheet" href="~/ClientAssets/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/ClientAssets/css/themify-icons.css">
	<link rel="stylesheet" href="~/ClientAssets/css/bootstrap.css">
	<link rel="stylesheet" href="~/ClientAssets/css/owl.carousel.css">
	<link rel="stylesheet" href="~/ClientAssets/css/nice-select.css">
	<link rel="stylesheet" href="~/ClientAssets/css/nouislider.min.css">
	<link rel="stylesheet" href="~/ClientAssets/css/ion.rangeSlider.css" />
	<link rel="stylesheet" href="~/ClientAssets/css/ion.rangeSlider.skinFlat.css" />
	<link rel="stylesheet" href="~/ClientAssets/css/magnific-popup.css">
	<link rel="stylesheet" href="~/ClientAssets/css/main.css">
</head>

<body>

	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="index.html"><img src="~/ClientAssets/img/logo.png" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
							aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item active"><a class="nav-link" asp-action="index" asp-controller="home">Trang chủ</a></li>
							<li class="nav-item submenu ">
								<a asp-action ="index" asp-controller="products" class="nav-link dropdown-toggle" role="button" aria-haspopup="true"
								   aria-expanded="false">Sản phẩm</a>
								
							</li>
							<li class="nav-item submenu dropdown">
								<a asp-action="index" asp-controller="news" class="nav-link " role="button" aria-haspopup="true"
								   aria-expanded="false">Tin tức</a>
							
							</li>
							<li class="nav-item submenu dropdown">
								<a asp-action="index" asp-controller="contact" class="nav-link dropdown-toggle" role="button" aria-haspopup="true"
								   aria-expanded="false">Liên hệ</a>

							</li>

							
							@{

								var customerId = Context.Session.GetInt32("CustomerId");
								if (customerId != null)
								{


										<li class="nav-item submenu dropdown">

										<a asp-action="logout" asp-controller="login" onclick="confirmLogout(event)" class="nav-link dropdown-toggle" role="button" aria-haspopup="true"
										   aria-expanded="false">Đăng xuất</a>


											


										</li>


									

								}
								else
								{

									<li class="nav-item submenu dropdown">
										<a asp-action="index" asp-controller="login" class="nav-link dropdown-toggle" role="button" aria-haspopup="true"
										   aria-expanded="false">Đăng nhập</a>

									</li>


								}



							}



						</ul>
						<ul class="nav navbar-nav navbar-right navCart">

							<li class="checkout">


								<a href="/shoppingCart/index" class="cart"><span class="ti-bag"></span></a>
								<span id="checkout_items" class="checkout_items">0</span>

							</li>


							<li class="nav-item">
								<button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="search_input" id="search_input_box">
			<div class="container">
				<form class="d-flex justify-content-between">
					<input type="text" class="form-control" id="search_input" placeholder="Search Here">
					<button type="submit" class="btn"></button>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div>
	</header>
	<!-- End Header Area -->
	<!-- start banner Area -->
	<section class="banner-area">
		<div class="container">
			<div class="row fullscreen align-items-center justify-content-start">
				<div class="col-lg-12">
					<div class="active-banner-slider owl-carousel">
						<!-- single-slide -->
						<div class="row single-slide align-items-center d-flex">
							<div class="col-lg-5 col-md-6">
								<div class="banner-content">
									<h1>Bộ sưu tập <br>của Nike!</h1>
									<p>
										Hãy khám phá bộ sưu tập mới của Nike, nơi mà phong cách và hiệu suất gặp nhau. Mỗi sản phẩm đều được thiết kế tỉ mỉ
										để mang lại sự thoải mái và phong cách thời thượng cho bạn. Đừng bỏ lỡ cơ hội sở hữu những món đồ thời trang độc đáo này.
									</p>
									<div class="add-bag d-flex align-items-center">
										<a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
										<span class="add-text text-uppercase">Thêm vào giỏ</span>
									</div>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="banner-img">
									<img class="img-fluid" src="~/ClientAssets/img/banner/banner-img.png" alt="">
								</div>
							</div>
						</div>
						<!-- single-slide -->
						<div class="row single-slide">
							<div class="col-lg-5">
								<div class="banner-content">
									<h1>Bộ sưu tập <br>của Nike!</h1>
									<p>
										Hãy khám phá bộ sưu tập mới của Nike, nơi mà phong cách và hiệu suất gặp nhau. Mỗi sản phẩm đều được thiết kế tỉ mỉ
										để mang lại sự thoải mái và phong cách thời thượng cho bạn. Đừng bỏ lỡ cơ hội sở hữu những món đồ thời trang độc đáo này.
									</p>
									<div class="add-bag d-flex align-items-center">
										<a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
										<span class="add-text text-uppercase">Thêm vào giỏ</span>
									</div>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="banner-img">
									<img class="img-fluid" src="~/ClientAssets/img/banner/banner-img.png" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->
	<!-- start features Area -->
	@await Html.PartialAsync("_StartFeaturesAreaView.cshtml")

	@* @await Html.PartialAsync("_StartExclusiveDealAreaView.cshtml") *@

	<!-- end features Area -->
	<!-- Start category Area -->
	@await Html.PartialAsync("_StarCategoryAreaView.cshtml")
	<!-- End category Area -->
	<!-- start product Area -->
	<section class="owl-carousel active-product-area section_gap">

		@RenderBody()


	</section>
	<!-- end product Area -->
	<!-- Start exclusive deal Area -->
	@await Html.PartialAsync("_StartExclusiveDealAreaView.cshtml")
	<!-- End exclusive deal Area -->
	<!-- Start brand Area -->
	<section class="brand-area section_gap">
		<div class="container">
			<div class="row">
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="~/ClientAssets/img/brand/1.png" alt="">
				</a>
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="~/ClientAssets/img/brand/2.png" alt="">
				</a>
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="~/ClientAssets/img/brand/3.png" alt="">
				</a>
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="~/ClientAssets/img/brand/4.png" alt="">
				</a>
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="~/ClientAssets/img/brand/5.png" alt="">
				</a>
			</div>
		</div>
	</section>
	<!-- End brand Area -->
	<!-- Start related-product Area -->
	@await Html.PartialAsync("_StartRelatedProductAreaView.cshtml")
	<!-- End related-product Area -->
	<!-- start footer Area -->
	<footer class="footer-area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Về chúng tôi </h6>
						<p>
							Cửa hàng trực tuyến của chúng tôi cung cấp một loạt các loại quần áo và giày dép,
							kết hợp chất lượng và phong cách để đáp ứng nhu cầu của những khách hàng yêu thích thời trang.
						</p>
					</div>
				</div>
				<div class="col-lg-4  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Newsletter</h6>
						<p>Hãy cập nhật thông tin mới nhất của chúng tôi</p>
						<div class="" id="mc_embed_signup">

							<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
								  method="get" class="form-inline">

								<div class="d-flex flex-row">

									<input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nhập Email '"
										   required="" type="email">


									<button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
									<div style="position: absolute; left: -5000px;">
										<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
									</div>

									<!-- <div class="col-lg-4 col-md-4">
												<button class="bb-btn btn"><span class="lnr lnr-arrow-right"></span></button>
											</div>  -->
								</div>
								<div class="info"></div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget mail-chimp">
						<h6 class="mb-20">Instragram Feed</h6>
						<ul class="instafeed d-flex flex-wrap">
							<li><img src="~/ClientAssets/img/i1.jpg" alt=""></li>
							<li><img src="~/ClientAssets/img/i2.jpg" alt=""></li>
							<li><img src="~/ClientAssets/img/i3.jpg" alt=""></li>
							<li><img src="~/ClientAssets/img/i4.jpg" alt=""></li>
							<li><img src="~/ClientAssets/img/i5.jpg" alt=""></li>
							<li><img src="~/ClientAssets/img/i6.jpg" alt=""></li>
							<li><img src="~/ClientAssets/img/i7.jpg" alt=""></li>
							<li><img src="~/ClientAssets/img/i8.jpg" alt=""></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Theo dõi chúng tôi</h6>
						<p>Chúng ta hãy giao lưu</p>
						<div class="footer-social d-flex align-items-center">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-dribbble"></i></a>
							<a href="#"><i class="fa fa-behance"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
				<p class="footer-text m-0">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</p>
			</div>
		</div>
	</footer>
	<!-- End footer Area -->




	<script src="~/ClientAssets/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
			crossorigin="anonymous"></script>
	<script src="~/ClientAssets/js/vendor/bootstrap.min.js"></script>
	<script src="~/ClientAssets/js/jquery.ajaxchimp.min.js"></script>
	<script src="~/ClientAssets/js/jquery.nice-select.min.js"></script>
	<script src="~/ClientAssets/js/jquery.sticky.js"></script>
	<script src="~/ClientAssets/js/nouislider.min.js"></script>
	<script src="~/ClientAssets/js/countdown.js"></script>
	<script src="~/ClientAssets/js/jquery.magnific-popup.min.js"></script>
	<script src="~/ClientAssets/js/owl.carousel.min.js"></script>
    <!--gmaps Js-->
    <script src="~/clientassets/js/jsshopping.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="~/ClientAssets/js/gmaps.min.js"></script>
	<script src="~/ClientAssets/js/main.js"></script>
    <script src="~/clientassets/js/shoppingcart.js"></script>


	<script type="text/javascript">
		function confirmLogout(event) {
			event.preventDefault(); // Ngăn chặn hành động mặc định của liên kết
			var userConfirmed = confirm("Bạn có muốn đăng xuất không?");
			if (userConfirmed) {
				// Nếu người dùng xác nhận, chuyển hướng đến URL của liên kết
				window.location.href = event.currentTarget.href;
			}
		}
	</script>


	@await RenderSectionAsync("Js", required: false)
</body>

</html>