<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" asp-action="index" asp-controller="home" asp-area="admin">
                <i class="typcn typcn-device-desktop menu-icon"></i>
                <span class="menu-title">Trang chủ</span>
                <div class="badge badge-danger">new</div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="typcn typcn-document-text menu-icon"></i>
                <span class="menu-title">Quản lí sản phẩm</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" asp-action="index" asp-controller="CatProducts" asp-area="admin">Danh mục</a></li>
                    <li class="nav-item"> <a class="nav-link" asp-action="index" asp-controller="Products" asp-area="admin">Danh sách sản phẩm</a></li>

                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
                <i class="typcn typcn-film menu-icon"></i>
                <span class="menu-title">Quản lí đơn hàng</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" asp-action="index" asp-controller="Orders" asp-area="admin">Đơn đặt hàng</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
                <i class="typcn typcn-chart-pie-outline menu-icon"></i>
                <span class="menu-title">Thống kê</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="charts">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="pages/charts/chartjs.html">Doanh thu theo tháng</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
                <i class="typcn typcn-th-small-outline menu-icon"></i>
                <span class="menu-title">Hệ thống</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="tables">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" asp-action="index" asp-controller="roles" asp-area="admin">Quản lý quyền truy cập</a></li>
                </ul>
            </div>
            @*    <div class="collapse" id="tables">
            <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" asp-action="index" asp-controller="member" asp-area="admin">Quản lý thành viên</a></li>
            </ul>
            </div> *@
            <div class="collapse" id="tables">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" asp-action="index" asp-controller="accounts" asp-area="admin">Quản lý tài khoản</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
                <i class="typcn typcn-compass menu-icon"></i>
                <span class="menu-title">Tin tức</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="icons">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" asp-action="index" asp-controller="catnews" asp-area="admin">Danh mục</a></li>
                </ul>
            </div>
            <div class="collapse" id="icons">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" asp-action="index" asp-controller="news" asp-area="admin">Danh sách tin tức</a></li>
                </ul>
            </div>
        </li>
      
      
     
    </ul>
</nav>